.header {
    display: flex;
    align-items: center;
    background: #fff;
    height: 70px;
    box-shadow: 0 2px 15px #00000029;
    opacity: 0;
    position: fixed;
    top: -70px;
    right: 0;
    left: 0;
    // transition: top 0.7s;
    z-index: 1030;
    width: 100%;
    padding: 0px 31px;
    margin-top: 8;
    margin-bottom: 8;
    transition: all 0.7s;
}

.header-visible {
    opacity: .94;
    top: 0;
}

.navbar {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    list-style: none;

    a {
        text-decoration: none;
        color: $clr1;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn-main {
    display: inline-block;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #d78188 0, #c46797 33%, #d78188 66%, #d78188 100%);
    background-size: 300%;
    background-position: 0;
    color: #e9e4e3;
    font-weight: 700;
    font-size: 14px;
    padding: 13px 30px;
    line-height: 1;
    cursor: pointer;
    transition: background .7s ease, color .7s linear;

    &:hover {
        background-position: 100%;
    }
}