@font-face {
    font-family: Gothic-Light;
    src: url(../../../assets/fonts/Gothic/GothicA1-Light.ttf);
}

@font-face {
    font-family: Gothic-Thin;
    src: url(../../../assets/fonts/Gothic/GothicA1-Thin.ttf);
}